EX2/Conexion SOAP Transitsoft/TransitSoft/TransitSoftBusiness/Connected Services/PropietarioWS/Propietario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://transitsoftws.services.transitsoft.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Propietario" targetNamespace="http://transitsoftws.services.transitsoft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/TransitSoftWS/Propietario?xsd=1" namespace="http://transitsoftws.services.transitsoft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarPropietarios">
    <part name="parameters" element="tns:listarPropietarios" />
  </message>
  <message name="listarPropietariosResponse">
    <part name="parameters" element="tns:listarPropietariosResponse" />
  </message>
  <message name="modificarPropietario">
    <part name="parameters" element="tns:modificarPropietario" />
  </message>
  <message name="modificarPropietarioResponse">
    <part name="parameters" element="tns:modificarPropietarioResponse" />
  </message>
  <message name="insertarPropietario">
    <part name="parameters" element="tns:insertarPropietario" />
  </message>
  <message name="insertarPropietarioResponse">
    <part name="parameters" element="tns:insertarPropietarioResponse" />
  </message>
  <message name="obtenerPropietarioPorId">
    <part name="parameters" element="tns:obtenerPropietarioPorId" />
  </message>
  <message name="obtenerPropietarioPorIdResponse">
    <part name="parameters" element="tns:obtenerPropietarioPorIdResponse" />
  </message>
  <message name="eliminarPropietario">
    <part name="parameters" element="tns:eliminarPropietario" />
  </message>
  <message name="eliminarPropietarioResponse">
    <part name="parameters" element="tns:eliminarPropietarioResponse" />
  </message>
  <portType name="Propietario">
    <operation name="listarPropietarios">
      <input wsam:Action="http://transitsoftws.services.transitsoft.pucp.edu.pe/Propietario/listarPropietariosRequest" message="tns:listarPropietarios" />
      <output wsam:Action="http://transitsoftws.services.transitsoft.pucp.edu.pe/Propietario/listarPropietariosResponse" message="tns:listarPropietariosResponse" />
    </operation>
    <operation name="modificarPropietario">
      <input wsam:Action="http://transitsoftws.services.transitsoft.pucp.edu.pe/Propietario/modificarPropietarioRequest" message="tns:modificarPropietario" />
      <output wsam:Action="http://transitsoftws.services.transitsoft.pucp.edu.pe/Propietario/modificarPropietarioResponse" message="tns:modificarPropietarioResponse" />
    </operation>
    <operation name="insertarPropietario">
      <input wsam:Action="http://transitsoftws.services.transitsoft.pucp.edu.pe/Propietario/insertarPropietarioRequest" message="tns:insertarPropietario" />
      <output wsam:Action="http://transitsoftws.services.transitsoft.pucp.edu.pe/Propietario/insertarPropietarioResponse" message="tns:insertarPropietarioResponse" />
    </operation>
    <operation name="obtenerPropietarioPorId">
      <input wsam:Action="http://transitsoftws.services.transitsoft.pucp.edu.pe/Propietario/obtenerPropietarioPorIdRequest" message="tns:obtenerPropietarioPorId" />
      <output wsam:Action="http://transitsoftws.services.transitsoft.pucp.edu.pe/Propietario/obtenerPropietarioPorIdResponse" message="tns:obtenerPropietarioPorIdResponse" />
    </operation>
    <operation name="eliminarPropietario">
      <input wsam:Action="http://transitsoftws.services.transitsoft.pucp.edu.pe/Propietario/eliminarPropietarioRequest" message="tns:eliminarPropietario" />
      <output wsam:Action="http://transitsoftws.services.transitsoft.pucp.edu.pe/Propietario/eliminarPropietarioResponse" message="tns:eliminarPropietarioResponse" />
    </operation>
  </portType>
  <binding name="PropietarioPortBinding" type="tns:Propietario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarPropietarios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarPropietario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPropietario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPropietarioPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarPropietario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Propietario">
    <port name="PropietarioPort" binding="tns:PropietarioPortBinding">
      <soap:address location="http://localhost:8080/TransitSoftWS/Propietario" />
    </port>
  </service>
</definitions>